.placeholder {
    height : 13vh
}

/* .trail {
    max-width: 30vw;
    display: flex;
    flex-direction: row;
    background-color: azure;
}

.trails {
    display: flex;
}

.trailImage {
    height: 20vh;
    width: 20vh;
} */

img {
    width : 100%
}